.pageWrapper {
  display: flex;
  justify-content: center;
}

.postWrapper {
  @media (max-width: 1340px) {
    max-width: 720px;
  }
  @media (max-width: 1200px) {
    max-width: 640px;
  }
}

.postHeader {
  border-bottom: 1px solid var(--quote-color);
}

.postHeader :global(#toc-title)::before {
  display: block;
  content: " ";
  visibility: hidden;
  pointer-events: none;
  margin-top: -72px;
  height: 72px;
  @media (min-width: 640px) {
    margin-top: -96px;
    height: 96px;
  }
}

.postTitle {
  margin: 48px 0 12px 0;
  display: block;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}

.postDesc {
  margin: 8px 0 4px 0;
  font-size: 14px;
}

.postTag {
  margin: 0 6px 4px 0;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--inline-bg-color);
  color: var(--inline-code-color);
  border-radius: 2px;
  text-decoration: none;
}

.postTime {
  margin-bottom: 4px;
}
.postTime span {
  margin: 0 12px 16px 0;
  font-size: 14px;
  color: #808080;
}
.postTime a {
  color: #808080;
}

/* for table-of-content */
.tocWrapper {
  width: calc(50vw - 490px);
  padding-top: 48px;
  padding-left: 16px;
  border-left: solid 1px var(--border-color);
  @media (max-width: 1340px) {
    width: calc(50vw - 420px);
  }
  @media (max-width: 1200px) {
    width: calc(50vw - 380px);
  }
  @media (max-width: 1080px) {
    display: none;
  }
}

.toc {
  position: sticky;
  top: 72px;
  width: 100%;
  height: calc(100vh - 96px);
  overflow-y: auto;
}

.mobileTOC {
  position: fixed;
  bottom: 16px;
  right: 16px;
  @media (min-width: 1080px) {
    display: none;
  }
}
