.pageWrapper {
  display: flex;
  justify-content: center;
}

.postWrapper {
  @media (max-width: 1340px) {
    max-width: 720px;
  }
  @media (max-width: 1200px) {
    max-width: 640px;
  }
}

.header {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 640px) {
    flex-direction: column-reverse;
  }
}

.header :global(#toc-title)::before {
  display: block;
  content: " ";
  visibility: hidden;
  pointer-events: none;
  margin-top: calc(-1 * var(--navbar-height) - 12px);
  height: calc(var(--navbar-height) + 12px);
}

.titleContainer {
  height: min-content;
  @media (max-width: 640px) {
    text-align: center;
  }
}
.title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
}
.description {
  margin: 8px 0 4px 0;
  font-size: 14px;
  white-space: pre-line;
}
.postTime {
  margin-bottom: 4px;
}
.postTime span {
  margin: 0 12px 16px 0;
  font-size: 14px;
  color: #808080;
}
.avatarContainer {
  text-align: center;
}
.avatarContainer img {
  border-radius: 50%;
}

/* for table-of-content */
.tocWrapper {
  width: calc(50vw - 490px);
  padding-top: 48px;
  padding-left: 16px;
  border-left: solid 1px var(--border-color);
  @media (max-width: 1340px) {
    width: calc(50vw - 420px);
  }
  @media (max-width: 1200px) {
    width: calc(50vw - 380px);
  }
  @media (max-width: 1080px) {
    display: none;
  }
}

.toc {
  position: sticky;
  top: var(--navbar-height);
  width: 100%;
  height: calc(100vh - var(--navbar-height) - 24px);
  overflow-y: auto;
}

.mobileTOC {
  position: fixed;
  z-index: 1;
  bottom: 16px;
  right: 16px;
  @media (min-width: 1080px) {
    display: none;
  }
}
