.pageWrapper {
  display: flex;
  justify-content: center;
}

.postWrapper {
  @media (max-width: 1340px) {
    max-width: 720px;
  }
  @media (max-width: 1200px) {
    max-width: 640px;
  }
}

.header {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 640px) {
    flex-direction: column-reverse;
  }
}
.titleContainer {
  height: min-content;
  @media (max-width: 640px) {
    text-align: center;
  }
}
.title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
}
.description {
  margin: 8px 0 4px 0;
  font-size: 14px;
  white-space: pre-line;
}
.postTime {
  margin-bottom: 4px;
}
.postTime span {
  margin: 0 12px 16px 0;
  font-size: 14px;
  color: #808080;
}
.avatarContainer {
  text-align: center;
}
.avatarContainer img {
  border-radius: 50%;
}

/* for table-of-content */
.tocWrapper {
  width: calc(50vw - 490px);
  padding-top: 48px;
  padding-left: 16px;
  border-left: solid 1px var(--border-color);
  @media (max-width: 1340px) {
    width: calc(50vw - 420px);
  }
  @media (max-width: 1200px) {
    width: calc(50vw - 380px);
  }
  @media (max-width: 1080px) {
    display: none;
  }
}

.toc {
  position: sticky;
  top: 72px;
  width: 100%;
  height: calc(100vh - 96px);
  overflow-y: auto;
}