.siteTitle {
  margin: 48px 0 24px 0;
  font-size: 40px;
  font-weight: 600;
}

.tag {
  padding: 4px 6px;
  background-color: var(--color-inline-bg);
  color: var(--color-inline-fg);
  border-radius: 2px;
}
