.siteTitle {
  margin: 48px 0 24px 0;
  font-size: 40px;
  font-weight: 600;
}

.tagLetter {
  font-size: 32px;
  font-weight: 600;
}

.tagContainer {
  margin-top: 8px;
  padding-bottom: 4px;
}

.tagLink {
  margin: 0 6px 4px 0;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--color-inline-bg);
  color: var(--color-inline-fg);
  border-radius: 2px;
  text-decoration: none;
}

.tagBorder {
  margin-top: 0;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid var(--color-quote-fg);
}
