/* Navbar */
.navi {
  position: sticky;
  top: 0;
  z-index: 1;
  height: var(--navbar-height);
  width: 100%;
  background-color: var(--color-page-bg);
  border-bottom: 0.5px solid var(--color-border-strong);
}

.siteIcon {
  height: 24px;
  width: 24px;
  padding: 6px;
}

.title {
  padding: 0 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.links {
  display: none;
  flex: auto;
  justify-content: end;
  height: 100%;
  @media (min-width: 768px) {
    display: inline-flex;
  }
}

.linkItem {
  width: 84px;
  border: solid transparent;
  border-radius: 2px;
  border-width: 1px;
  padding: 2px;
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  text-decoration: none;
  color: var(--color-page-fg);
}
.linkItem.selected {
  color: var(--color-quote-bg);
}

.menuWrapper {
  flex: auto;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4px;
  @media (min-width: 768px) {
    display: none;
  }
}

.darkIcon {
  flex: none;
}
.darkIcon > div {
  width: 36px;
  height: 36px;
  border: solid transparent;
  border-radius: 2px;
  border-width: 1px;
}
.darkIcon > div:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}
.darkIcon svg {
  width: 24px;
  height: 24px;
  fill: var(--color-icon);
}

/* Menu */
.menu {
  position: relative;
  height: 36px;
  width: 36px;
}

.menuIcon {
  border: solid transparent;
  border-radius: 2px;
  border-width: 1px;
}
.menuIcon:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}
.menuIcon svg {
  height: 66.7%;
  width: 66.7%;
  fill: var(--color-icon);
}

.menuList {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  margin-top: 4px;
  padding: 4px 0;
  width: 96px;
  border: solid var(--color-border-strong);
  border-radius: 2px;
  border-width: 1px;
  background-color: var(--color-page-bg);
  box-shadow: var(--shadow);
}

.menuItem {
  padding: 4px;
  text-align: center;
}
.menuItem:hover {
  background-color: var(--color-hover);
}

/* Footer */
.footer {
  position: static;
  margin: 32px 48px 0 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid var(--color-border-strong);
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 2px;
  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center;
  }
}

.footerContainer span {
  margin: 0 4px;
}

.rss {
  display: flex;
  align-items: center;
}

.rssIcon {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.rssIcon svg {
  fill: var(--color-page-fg);
}

.rssIcon svg:hover + :global(#icon-desc) {
  visibility: visible;
}

.rss :global(#icon-desc) {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  margin-left: -81px;
  bottom: 180%;
  left: 50%;
  background-color: var(--color-hover);
  width: 150px;
  text-align: center;
  padding: 4px 6px;
  border-radius: 2px;
}

.rss :global(#icon-desc)::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-hover) transparent transparent transparent;
}

.rssLink {
  text-decoration: underline;
  cursor: pointer;
}

.dot {
  @media (max-width: 640px) {
    display: none;
  }
}
