.siteTitle {
  margin: 48px 0 24px 0;
  font-size: 40px;
  font-weight: 600;
}

.siteDesc {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}

.sectionTitle{
  margin: 36px 0 18px 0;
  font-size: 24px;
  font-weight: 600;
}

.more{
  font-size: 14px;
}