.comments {
  margin-top: 48px;
}

.title {
  font-size: 24px;
  padding-bottom: 8px;
}

.loading {
  position: relative;
}

.spinner {
  width: 100%;
  position: absolute;
  height: 256px;
  line-height: 256px;
  text-align: center;
}

.spinner svg {
  stroke: var(--color-icon);
}

.container {
  width: 100%;
  min-height: 256px;
}

.container :global(.utterances) {
  max-width: unset;
}
