/* BlogList */
.listItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 12px 0;
}

.date {
  @media (max-width: 640px) {
    display: none;
  }
}

/* Pagination */
.yearContainer {
  margin-top: 8px;
  margin-bottom: 24px;
}
.yearTitle {
  font-size: 36px;
  font-weight: 600;
}
.pageSetter {
  display: flex;
  justify-content: center;
}
.pageSetter button {
  font-size: 16px;
  background-color: transparent;
  border-color: transparent;
}
.pageSetter button:hover {
  cursor: pointer;
}
.pageSetter span {
  font-size: 16px;
  margin: 0 8px;
}