.reactMarkdown {
  margin-top: 12px;
}

.reactMarkdown .inlineCode {
  display: inline;
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 4px;
  background-color: var(--inline-bg-color);
  color: var(--inline-code-color);
  word-break: break-word;
}

.reactMarkdown p,
.reactMarkdown blockquote,
.reactMarkdown ul,
.reactMarkdown ol,
.reactMarkdown dl,
.reactMarkdown pre,
.reactMarkdown details {
  margin-top: 16px;
  margin-bottom: 16px;
}

.reactMarkdown blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--quote-color);
  border-left: 0.25em solid var(--quote-bg-color);
}

.reactMarkdown code {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
  font-size: 14px;
  line-height: 18px;
}

.reactMarkdown code::-webkit-scrollbar {
  height: 8px;
}

.reactMarkdown code::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.reactMarkdown code::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
}

.reactMarkdown img {
  display: block;
  margin: 8px auto 0 auto;
  max-width: 100%;
}

.reactMarkdown img + span {
  display: block;
  color: var(--quote-color);
  font-size: 14px;
  text-align: center;
  margin-top: 4px;
}

.reactMarkdown table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin: 0 auto 16px auto;
}
.reactMarkdown table th {
  font-weight: 600;
}

.reactMarkdown table th,
.reactMarkdown table td {
  padding: 6px 13px;
  border: 1px solid var(--border-muted-color);
}

.reactMarkdown table td > :last-child {
  margin-bottom: 0;
}

.reactMarkdown table tr {
  background-color: var(--bg-muted-color);
}

.reactMarkdown ul,
.reactMarkdown ol {
  padding-left: 2em;
}

.reactMarkdown ol ol,
.reactMarkdown ul ol {
  list-style-type: lower-roman;
}

.reactMarkdown ul ul ol,
.reactMarkdown ul ol ol,
.reactMarkdown ol ul ol,
.reactMarkdown ol ol ol {
  list-style-type: lower-alpha;
}

.reactMarkdown ul ul,
.reactMarkdown ul ol,
.reactMarkdown ol ol,
.reactMarkdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.reactMarkdown :global(.task-list-item) {
  list-style-type: none;
}

.reactMarkdown [data-footnote-ref] {
  text-decoration: none;
}

.reactMarkdown [data-footnote-ref]::before {
  content: "[";
}

.reactMarkdown [data-footnote-ref]::after {
  content: "]";
}

.reactMarkdown :global(.footnotes) {
  font-size: 12px;
  border-top: 1px solid var(--quote-color);
}

.reactMarkdown hr {
  border-bottom: 1px solid var(--quote-color);
}

.reactMarkdown .anchor::before {
  display: block;
  content: " ";
  visibility: hidden;
  pointer-events: none;
  margin-top: calc(-1 * var(--navbar-height) - 12px);
  height: calc(var(--navbar-height) + 12px);
}

.reactMarkdown :global(#zoom-container) {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100dvw;
  height: calc(100dvh - var(--navbar-height));
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  z-index: -1;
}

.codeWrapper {
  overflow-y: hidden;
  position: relative;
  border-radius: 4px;
}

.codeHeader {
  background-color: var(--code-bg-color);
  color: var(--code-color);
  border-radius: 4px 4px 0 0;
  border-bottom: 0.5px solid var(--border-color);
  height: 48px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.copyButton:hover {
  cursor: pointer;
}

.extendWrapper {
  position: absolute;
  bottom: 0px;
  padding: 4px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--code-color);
  background-color: rgb(from var(--code-bg-color) r g b / 0.8);
  cursor: pointer;
}

.foldWrapper {
  width: 100%;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  color: var(--code-color);
  background-color: rgb(29, 31, 33);
  cursor: pointer;
  rotate: 180deg;
}

.updateBlock {
  margin: 1.25rem 0;
  padding: 0.75rem 1rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  background-color: var(--bg-muted-color);
  border-left: 1px solid var(--border-muted-color);
  border-left-width: 4px;
  color: var(--quote-color);

  box-shadow: none;
}

.updateBadge {
  fill: var(--quote-color);
}

.updateBlockHeader {
  font-size: 0.75rem;
  font-weight: 500;

  display: flex;
  align-items: baseline;
  gap: 0.4rem;
}

.updateBlockContent {
  font-size: 0.9rem;
}

.updateBlockContent > p {
  margin-top: 0.5rem;
}

.updateBlockContent p:last-child {
  margin-bottom: 0;
}

.updateHint {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 0.75rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  box-sizing: border-box;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 4px solid var(--border-muted-color);
  background-color: var(--bg-muted-color);

  font-size: 0.75rem;
  line-height: 1.4;
  color: var(--quote-color);
}
