.reactMarkdown {
  margin-top: 12px;
}

.reactMarkdown .inlineCode {
  display: inline;
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 4px;
  background-color: var(--inline-bg-color);
  color: var(--inline-code-color);
  word-break: break-word;
}

.reactMarkdown p,
.reactMarkdown blockquote,
.reactMarkdown ul,
.reactMarkdown ol,
.reactMarkdown dl,
.reactMarkdown pre,
.reactMarkdown details {
  margin-top: 16px;
  margin-bottom: 16px;
}

.reactMarkdown blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--quote-color);
  border-left: 0.25em solid var(--quote-bg-color);
}

.reactMarkdown code {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
  font-size: 14px;
  line-height: 18px;
  border-radius: 0 0 4px 4px;
}

.reactMarkdown img {
  display: block;
  margin: 8px auto 0 auto;
  max-width: 100%;
}

.reactMarkdown img + span {
  display: block;
  color: var(--quote-color);
  font-size: 14px;
  text-align: center;
  margin-top: 4px;
}

.reactMarkdown .spinner + span {
  display: block;
  color: var(--quote-color);
  font-size: 14px;
  text-align: center;
  margin-top: 4px;
}

.reactMarkdown table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin: 0 auto 16px auto;
}
.reactMarkdown table th {
  font-weight: 600;
}

.reactMarkdown table th,
.reactMarkdown table td {
  padding: 6px 13px;
  border: 1px solid var(--border-muted-color);
}

.reactMarkdown table td > :last-child {
  margin-bottom: 0;
}

.reactMarkdown table tr {
  background-color: var(--bg-muted-color);
}

.reactMarkdown ul,
.reactMarkdown ol {
  padding-left: 2em;
}

.reactMarkdown ol ol,
.reactMarkdown ul ol {
  list-style-type: lower-roman;
}

.reactMarkdown ul ul ol,
.reactMarkdown ul ol ol,
.reactMarkdown ol ul ol,
.reactMarkdown ol ol ol {
  list-style-type: lower-alpha;
}

.reactMarkdown ul ul,
.reactMarkdown ul ol,
.reactMarkdown ol ol,
.reactMarkdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.reactMarkdown :global(.task-list-item) {
  list-style-type: none;
}

.reactMarkdown [data-footnote-ref] {
  text-decoration: none;
}

.reactMarkdown [data-footnote-ref]::before {
  content: "[";
}

.reactMarkdown [data-footnote-ref]::after {
  content: "]";
}

.reactMarkdown :global(.footnotes) {
  font-size: 12px;
  border-top: 1px solid var(--quote-color);
}

.reactMarkdown hr {
  border-bottom: 1px solid var(--quote-color);
}

.reactMarkdown .anchor::before {
  display: block;
  content: " ";
  margin-top: -72px;
  height: 72px;
  visibility: hidden;
  pointer-events: none;
}

.codeHeader {
  background-color: var(--code-bg-color);
  color: var(--code-color);
  border-radius: 4px 4px 0 0;
  border-bottom: 0.5px solid var(--border-color);
  height: 48px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}
.copyButton:hover {
  cursor: pointer;
}

.spinner {
  display: block;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 4px;
}

.spinner svg {
  stroke: var(--svg-color);
}
